/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  max-width: 100%;
}

/* Estilo geral */
body {
  background-color: #ffffff;
  color: #333;
}

.header-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1100;
  transition: top 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
}

/* Header superior (informações de contato) */
#top-header {
  background: #009688;
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  font-size: 14px;
  width: 100%;
  transition: all 0.3s ease-in-out;
  gap: 10px;
}

/* Esconder completamente o top-header ao rolar */
.hidden {
  display: none !important;
}

.contact-info {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
}

.contact-info a {
  color: white;
  text-decoration: none;
}

.partner-info a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

/* Cabeçalho */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 5%;
  background: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  position: relative;
  transition: all 0.3s ease-in-out, padding 0.3s ease-in-out;
}

/* CONTAINER DA LOGO E MENU HAMBÚRGUER */
.container-menu-hamburguer {
  display: flex !important; 
  align-items: center !important;
  justify-content: space-between !important;
  width: 100% !important;
}

/* Quando a página é rolada, a navbar diminui */
.scrolled header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1100;
  width: 100%;
  padding: 10px 5%;
}

/* Ajuste da ancoragem para compensar o cabeçalho fixo */
section {
  scroll-margin-top: 90px;
}

.container-icon {
  display: flex;
  align-items: center;
  gap: 5px;
}

.icon {
  width: 20px;
  height: 20px;
}

/* Quando a página é rolada, o top-header desaparece */
.hidden {
  transform: translateY(-100%);
}

/* LOGO */
.logo {
  display: flex;
  align-items: center;
}

.img-Logo {
  width: 120px;
  height: auto;
}

nav ul li:nth-child(6) a {
  background-color: #03a895;
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s ease-in-out;
}

/* Efeito de hover para melhor experiência do usuário */
nav ul li:nth-child(6) a:hover {
  background-color: #028577;
  color: white;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #04534b;
  font-weight: bold;
  transition: 0.3s;
}

nav ul li a:hover {
  color: #02a595;
}

.btn {
  background: #009688;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
}

.btn:hover {
  background: #00796b;
}

/* Ajuste do Carrossel */
.hero {
  width: 100vw;
  overflow: hidden;
}

.carousel {
  position: relative;
  width: 100%;
  max-width: 100%;
  height: auto;
}

.slides {
  display: flex;
  width: 300%;
  transition: transform 0.5s ease-in-out;
}

.slide {
  min-width: 100%;
  position: relative;
}

.slide img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.text {
  font-size: clamp(14px, 2vw, 20px);
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(0, 150, 135, 0.6);
  color: white;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  max-width: 90%;
  width: clamp(250px, 50vw, 650px);
}

.text h1 {
  margin-bottom: 20px;
  font-size: 2em;
}

/* Estilos dos indicadores botão */
.carousel-indicators {
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
}

.dot {
  width: 12px;
  height: 12px;
  background-color: #00968759;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border: none;
}

.dot.active {
  background-color: #ffffff;
  width: 14px;
  height: 14px;
}

/* Responsividade */
@media (max-width: 768px) {
  .slide img {
    height: 90vh;
  }

  .text {
    bottom: 5%;
    font-size: 14px;
  }
}

/* Estilos da seção de serviços */
#servicos-especiais {
  text-align: center;
  padding: 100px 20px;
  background-color: #ffffff;
}

#servicos-especiais h2 {
  font-size: 2em;
  margin-bottom: 30px;
  color: #00796b;
}

.servicos-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.servico-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: #f9f9f9;
  border-radius: 8px;
  padding: 20px;
  flex: 1 1 300px;
  max-width: 350px;
  min-height: 250px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.servico-card:hover {
  transform: scale(1.05);
}

.servico-card img {
  width: 60px;
  height: 60px;
  margin-bottom: 10px;
}

.card-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 0;
  width: 100%;
}

.card-text h3 {
  font-size: 1.2em;
  margin: 0 0 5px;
  font-weight: bold;
  color: #00796b;
}

.card-text p {
  font-size: 0.9em;
  color: #00796b;
  margin: 3px 0;
}

/* Responsividade */
@media (max-width: 768px) {
  .servicos-container {
    flex-direction: column;
    align-items: center;
  }

  .servico-card {
    width: 90%;
    min-height: auto;
  }
}


/* Configuração geral da seção */
.parallax-section {
  margin-top: 200px;
  position: relative;
  width: 100%;
  height: 450px; /* Ajuste conforme necessário */
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  background: url("../imgs/entrada.jpeg") no-repeat center center;
  background-size: cover;
  background-attachment: fixed; /* Aqui está o efeito parallax */
}

/* Estilização do conteúdo */
.parallax-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 50px;
  background: linear-gradient(
    180deg,
    #04b49fa9,
    #204d47ab
  ); /* Leve fundo escuro para melhorar a legibilidade */
}

/* Título e Texto */
.parallax-content h1 {
  font-size: 2.5em;
  font-weight: bold;
  margin-bottom: 10px;
  padding: 20px;
}

.parallax-content p {
  font-size: 1.2em;
  margin-bottom: 20px;
}

/* Botão de ação */
.cta-button {
  background: #03a895;
  color: white;
  padding: 12px 25px;
  text-decoration: none;
  font-size: 1.2em;
  font-weight: bold;
  border-radius: 8px;
  transition: background 0.3s ease-in-out;
}

.cta-button:hover {
  background: #03463e;
}

/* Sobre a clínica */
#sobre {
  text-align: center;
  padding: 80px 5%;
  background: linear-gradient(180deg, #03a895, #11695e);
  color: white;
}

.parceiro {
  font-weight: 600;
}
.container-sobre {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 70px;
  gap: 40px;
  transition: 1s;
}

.container-sobre img {
  max-width: 100%;
  width: clamp(200px, 30%, 300px);
  height: auto;
  border-radius: 10px;
  object-fit: cover;
}

.container-sobre p {
  font-size: clamp(20px, 3vw, 22px);
}

.container-sobre:nth-child(2) {
  flex-direction: row-reverse;
  margin-top: 40px;
}

.agendar {
  background-color: #0ac7b1;
  border-radius: 10px;
  padding: 10px;
}

.agendar p {
  font-size: clamp(20px, 2vw, 20px);
  color: white;
}

.agendar a {
  text-decoration: none;
  color: white;
}

.agendar:hover {
  background-color: #034942;
  cursor: pointer;
  transition: 1s;
  transform: scale(1.1);
}

#servicos {
  text-align: center;
  padding: 100px 5%;
  background: #f9f9f9;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#servicos h2 {
  color: #00796b;
  font-size: 2em;
}

.container-title-servicos-especiais {
  margin-bottom: 20px;
}

/* Layout Responsivo com Flexbox */
.servicos-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  max-width: 1200px;
  width: 100%;
}

/* Cards */
.servico-item {
  background: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  text-align: center;
  width: calc(25% - 30px);
  max-width: 300px;
  min-width: 250px;
}

/* Ícones */
.servico-item img {
  width: 60px;
  margin-bottom: 15px;
}

/* Títulos */
.servico-item h3 {
  font-size: 22px;
  margin-bottom: 10px;
  color: #333;
}
.servicos,
h2 {
  margin-bottom: 20px;
  color: white;
  font-size: 2em;
}

/* Texto */
.servico-item p {
  font-size: 16px;
  color: #666;
}

/* Efeito hover */
.servico-item:hover {
  transform: translateY(-5px);
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15);
}

/* Responsividade para telas menores */
@media (max-width: 1024px) {
  .servico-item {
    width: calc(33.33% - 30px);
  }
}

@media (max-width: 768px) {
  .servicos-grid {
    flex-direction: column;
    align-items: center;
  }

  .servico-item {
    width: 80%;
  }
}

/* Equipe */
#equipe {
  text-align: center;
  padding: 100px 1%;
  background: linear-gradient(180deg, #03a895, #204d47);
}

/* Título principal */
#equipe h2 {
  font-size: 2em;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 20px;
  color: white;
}

/* Texto introdutório */
#equipe p {
  font-size: 18px;
  max-width: 800px;
  margin: 10px auto 40px;
}

#text-equipe {
  font-size: 22px;
  margin-top: 15px;
  color: white;
}

/* Container da equipe */
.equipe-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  max-width: 1200px;
  margin: auto;
}

/* Cada card da equipe */
.equipe-item {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  text-align: center;
  width: clamp(250px, 30%, 420px);
  position: relative;
  overflow: hidden;
  color: #00796b;
}

.equipe-item h3 {
  color: #00796b;
  font-size: 22px;
  margin-top: 15px;
}

/* Efeito de Elevação ao Passar o Mouse */
.equipe-item:hover {
  transform: translateY(-8px);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}

/* Efeito de Brilho ao Passar o Mouse */
.equipe-item::before {
  content: "";
  position: absolute;
  top: -100%;
  left: -100%;
  width: 250%;
  height: 250%;
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.2) 10%,
    transparent 70%
  );
  transition: transform 0.5s ease-out;
  transform: translate(-50%, -50%);
  opacity: 0;
}

/* Ativação do efeito quando o mouse está sobre o card */
.equipe-item:hover::before {
  transform: translate(0, 0);
  opacity: 1;
}

/* Imagens dos profissionais */
.equipe-item img {
  width: 100%;
  height: 280px;
  object-fit: cover;
  border-radius: 10px;
  transition: transform 0.3s ease-in-out;
}

.equipe-item:hover img {
  transform: scale(1.05);
}

/* Botão CTA */
.cta-depoimentos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 100px 0;
}

.cta-depoimentos p {
  font-size: 18px;
  color: #444;
  margin-bottom: 10px;
}

.btn-cta {
  background: #00796b;
  color: white;
  padding: 12px 20px;
  border-radius: 5px;
  font-weight: bold;
  text-decoration: none;
  display: inline-block;
  transition: 0.3s;
}

.btn-cta:hover {
  background: #005f56;
}

/* Estilização do Mapa */
.mapa {
  margin-top: 40px;
  width: 100%;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

#depoimentos {
  padding: 100px 5%;
  text-align: center;
  background: #f5f5f5;
}

#depoimentos h2 {
  font-size: 2.5em;
  color: #00796b;
  margin-bottom: 50px;
}

#depoimentos h2 {
  font-size: 2em;
  color: #00796b;
  margin-bottom: 50px;
}

.depoimentos-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
}

.container-depo {
  margin-top: 25px;
  font-weight: 500;
  color: #00796b;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.title-depo {
  display: flex;
  gap: 10px;
  align-items: center;
}

.review {
  text-align: center;
  max-width: 250px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.review-circle {
  width: 120px;
  height: 120px;
  background: #00796b;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out;
}

.review-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: fill;
  border: 3px solid white;
}

/* mapa */
.mapa-container {
  text-align: center;
  padding: 50px 20px;
  background: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.mapa-container h2 {
  font-size: 2em;
  color: #00796b;
  font-weight: bold;
  margin-bottom: 10px;
}

.mapa-container p {
  font-size: 18px;
  color: #444;
  margin-bottom: 10px;
}

.mapa-container .endereco {
  font-size: 20px;
  font-weight: bold;
  color: #00796b;
  margin-bottom: 20px;
}

.mapa {
  max-width: 800px;
  margin: 0 auto;
}

.container-aviso p {
  font-size: 2.5em;
  font-weight: bold;
  color: #00796b;
}

#aviso {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 120px;
  flex-direction: column;
  position: relative;
  margin: 50px;
}

/* Seta animada */
.seta-animada {
  position: absolute;
  bottom: -100px;
  left: calc(50% - 60px);
  animation: pulo 1s infinite ease-in-out;
}

.seta-animada img {
  width: 120px;
  max-width: 100%;
}

/* Animação para a seta */
@keyframes pulo {
  0%,
  100% {
    transform: translateY(0) rotate(-15deg);
  }
  50% {
    transform: translateY(10px) rotate(-15deg);
  }
}

/* 📱 Responsividade para telas menores */
@media (max-width: 768px) {
  .seta-animada {
    bottom: -90px;
    left: calc(50% - 50px);
  }

  .seta-animada img {
    width: 100px;
  }
}

@media (max-width: 480px) {
  .seta-animada {
    bottom: -100px;
    left: calc(50% - 40px);
  }

  .seta-animada img {
    width: 100px;
  }
}

@media (max-width: 390px) {
  .container-aviso {
    margin-bottom: 20px;
  }
  .seta-animada img {
    width: 80px;
  }
}

/* Rodapé */
footer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, #03a895, #204d47);
  color: #fff;
  padding: 20px;
  gap: 50px;
}

.container-footer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
}

.container-footer p {
  font-size: clamp(10px, 2vw, 15px);
}

.info {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  gap: 10px;
  font-weight: 600;
}

.redes-sociais {
  margin-top: 50px;
  display: flex;
  gap: 20px;
}

.redes-sociais img {
  width: 50px;
  height: 50px;
}

.logo-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px 0;
}

.logo-footer img {
  width: 100%;
  max-width: 280px;
  height: auto;
  object-fit: contain;
}

/* Quando a tela for menor, reduzir os headers */
@media (max-width: 1024px) {
  #top-header {
    font-size: 12px;
    padding: 8px 15px;
  }

  header {
    padding: 10px 4%;
  }

  .img-Logo {
    width: 80px;
    height: 60px;
  }
}

.container-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

/* Oculta o menu hambúrguer no desktop */
@media (min-width: 769px) {
  .menu {
    display: none;
  }
  nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  nav ul {
    display: flex !important;
    flex-direction: row;
    gap: 20px;
    list-style: none;
  }

  nav ul li {
    display: inline-block;
  }
}

/* Exibe o menu hambúrguer e oculta o tradicional no mobile */
@media (max-width: 768px) {
  .contact-info {
    justify-content: center;
  }
  #top-header {
    justify-content: center;
  }
  .menu {
    display: block;
    cursor: pointer;
  }

  nav ul {
    display: none; /* Esconde o menu tradicional */
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background: #fff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    padding: 15px 0;
    text-align: center;
    margin-top: 10px;
  }

  /* Exibe o menu quando o input checkbox está marcado */
  #menu-toggle:checked + nav ul {
    display: flex;
  }

  nav ul li {
    margin-bottom: 10px;
  }

  .text {
    bottom: 10%; /* Aumenta a distância do texto em relação aos dots */
  }
  section {
    scroll-margin-top: 79px;
  }
}
@media (max-width: 557px) {
  .info {
    text-align: center;
    justify-content: center;
  }
}

@media (max-width: 540px) {
  .container-sobre {
    flex-wrap: wrap;
  }

  .servico-card,
  h3,
  p {
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
  }
}

/* Estiliza o menu hambúrguer */
.menu {
  --s: 30px; /* Tamanho do botão */
  --c: #00796b; /* Cor do ícone */

  height: var(--s);
  aspect-ratio: 1;
  border: none;
  padding: 0;
  border-inline: calc(var(--s) / 2) solid transparent;
  box-sizing: content-box;
  --_g1: linear-gradient(var(--c) 20%, transparent 0 80%, var(--c) 0) no-repeat
    content-box border-box;
  --_g2: radial-gradient(
      circle closest-side at 50% 12.5%,
      var(--c) 95%,
      transparent
    )
    repeat-y content-box border-box;
  background: var(--_g2) left var(--_p, 0px) top,
    var(--_g1) left calc(var(--s) / 10 + var(--_p, 0px)) top,
    var(--_g2) right var(--_p, 0px) top,
    var(--_g1) right calc(var(--s) / 10 + var(--_p, 0px)) top;
  background-size: 20% 80%, 40% 100%;
  position: relative;
  clip-path: inset(0 25%);
  -webkit-mask: linear-gradient(90deg, transparent, black 25% 75%, transparent);
  cursor: pointer;
  transition: background-position 0.3s var(--_s, 0.3s),
    clip-path 0s var(--_s, 0.6s);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.menu:before,
.menu:after {
  content: "";
  position: absolute;
  border-radius: var(--s);
  inset: 40% 0;
  background: var(--c);
  transition: transform 0.3s calc(0.3s - var(--_s, 0.3s));
}

.menu:checked {
  clip-path: inset(0);
  --_p: calc(-1 * var(--s));
  --_s: 0s;
}

.menu:checked:before {
  transform: rotate(45deg);
}

.menu:checked:after {
  transform: rotate(-45deg);
}

.menu:focus-visible {
  clip-path: none;
  -webkit-mask: none;
  border: none;
  outline: 2px solid var(--c);
  outline-offset: 5px;
}
