.contato-visual {
  text-align: center;
  padding: 60px 20px;
  margin-top: 150px;
}

.contato-visual,
p {
  color: #009688;
}

.title {
  color: #009688;
}

.sub-title {
  color: #009688;
}

.contato-visual img {
  width: 40px;
}

.card-contato,
h2,
p,
a {
  color: #fff;
}

.opcoes-contato {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
  margin-top: 40px;
}

.card-contato {
  background: #009688;
  padding: 30px;
  border-radius: 15px;
  width: 300px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
}

.card-contato:hover {
  transform: translateY(-5px);
}

.icon-contato {
  width: 64px;
  margin-bottom: 15px;
}

.botao-contato {
  display: inline-block;
  margin-top: 15px;
  padding: 12px 24px;
  background-color: #2ecc71;
  color: #fff;
  text-decoration: none;
  border-radius: 8px;
  font-weight: bold;
  transition: background 0.2s ease;
}

.botao-contato:hover {
  background-color: #27ae60;
}

.info-clinica {
  margin-top: 50px;
  font-size: 1rem;
  line-height: 1.8;
  color: #009688;
}
.info-clinica
p,a {
  color: #009688;
}
